<% @links_per_day.each do |day, links| %>
  <div class="day my-5">
    <div class="row">
      <h2 class="col-12 ml-2"><%= links[0].created_at.strftime("Posted on %d/%m/%Y") %></h2>
    </div>
    <div class="row">
      <% links.each do |link| %>
      <div class="col-12 col-md-4">
        <div class="card-product m-2">
          <img src="https://loremflickr.com/320/240/<%= link.title %>" />
          <div data-id='<%= link.id %>'>
            <%= render 'links/card-details', link: link, current_liked_links: @current_liked_links %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <hr>
<% end %>
